

body {
    display: grid;
    height: 90vh;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
    background: linear-gradient(270deg, #0ba079, #1b76d1);
    background-size: 400% 400%;
    z-index: 1;
    animation: gradient 7s infinite linear;
}

@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/* Board */
#board {
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color:black;
    width: 300px;
    height: 300px;
    z-index: 2;
}

/* Player */
#player {
    position: absolute;
    background-color:red;
    width:20px;
    height: 20px;
    z-index: 3;
    top: 40px;
    left: 240px;
}


/* Bones */
#bone {
    position: relative;
    background-color: white; 
    width: 20px;
    height: 100px;
    border: 0px;
    margin: 0px;
    top: 70px;
    left: -0px;
    animation: move-right 1.5s infinite linear 2s;
}

@keyframes move-right{
    0% {transform: translateX(-10px)}
    50% {transform: translateX(280px);}
    100% {transform: translateX(-10px);}
}

#bone2 {
    position: relative;
    background-color: white; 
    width: 20px;
    height: 100px;
    border: 0px;
    margin: 0px;
    top: -140px;
    box-sizing: border-box;
    left: 150px;
    rotate: 90deg;
    animation: move-down 2s infinite linear 2s;
    animation-composition: add;
}

@keyframes move-down {
    0% {transform: translateY(-0px) rotate(0deg);}
    50% {transform: translateX(280px) rotate(180deg);}
    100% {transform: translateX(-0px) rotate(360deg);}
}

/* Coins */
#coin {
    position: absolute;
    background-color:yellow;
    width:10px;
    height: 10px;
    z-index: 3;
}

#coinCounter {
    display: grid;
    position: absolute;
    color: white;
    justify-self: center;
    align-self: start;
    top: -40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#startScreen, #endScreen{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 11;
}

#endScreen {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;   
}

.button {
    border: none; 
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: rgb(255, 255, 255);
}

#controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.phoneButton {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

canvas {
    display: block;
}